.bg {
  background-image: url("../assets/images/background.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #262626;
}
