<mat-grid-list cols="2" class="container" rowHeight="49%">
  <mat-grid-tile>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="leftGreedTile treeShadow">
      <mat-tree-node *matTreeNodeDef="let node">
        <li class="mat-tree-node">
          <button mat-icon-button disabled></button>
          <button mat-button (click)="setForm(node)" class="treeButton">{{node.name}}</button>
          <button mat-icon-button class="addButton" (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
          <button mat-icon-button class="addButton" (click)="updateForm(node)"><mat-icon>create</mat-icon></button>
        </li>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <button mat-button (click)="setForm(node)" class="treeButton">{{node.name}}</button>
            <button mat-icon-button class="addButton" (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
            <button mat-icon-button class="addButton" (click)="updateForm(node)"><mat-icon>create</mat-icon></button>
          </div>
          <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>

    </mat-tree>

  </mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="recipeForm" class="greedTile">
      <div class="rightGreedTile">
        <mat-form-field appearance="fill" class="rightGreedTileItem">
          <mat-label class="itemColor">Name</mat-label>
          <input matInput class="itemColor" formControlName="name" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="rightGreedTileItem">
          <mat-label class="itemColor">Recipe</mat-label>
          <textarea matInput class="itemColor" formControlName="recipe"></textarea>
        </mat-form-field>
      </div>
      <button id="submitButton" mat-button (click)="onSaveClick()" class="fButton" hidden="hidden">Save</button>
      <button id="closeEditingButton" mat-button (click)="onCloseEditingClick()" class="fButton" hidden="hidden">Close editing</button>
    </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" rowHeight="40%">
    <mat-expansion-panel (opened)="getRecipeChanges(currentNode.id)" *ngIf="!!currentNode" class="treeShadow">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Click here to see old versions of this recipe!
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <li *ngFor="let recipe of recipeChanges" class="expPanel">
          <mat-expansion-panel hideToggle class="expPanel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{currentNode.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{getFirstTwentySymbols(recipe.oldRecipe)}}
              </mat-panel-description>
              <mat-panel-description>
                <div>{{recipe.dateChanged}}</div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{recipe.oldRecipe}}</p>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="!currentNode" class="treeShadow">
      <mat-expansion-panel-header>
        <mat-panel-title >
          Click here to see old versions of this recipe!
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <li *ngFor="let recipe of recipeChanges; index as i" class="expPanel">
          <mat-expansion-panel hideToggle >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sample of recipe name #{{i}}
              </mat-panel-title>
              <mat-panel-description>
                {{getFirstTwentySymbols(recipe.oldRecipe)}}...
              </mat-panel-description>
              <mat-panel-description>
                <div>{{recipe.dateChanged}}</div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{recipe.oldRecipe}}</p>
          </mat-expansion-panel>
        </li>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-grid-tile>
</mat-grid-list>

