.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
.greedTile {
  height: 100%;
  width: 100%;
}
.treeShadow{
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.50);
}
.leftGreedTile {
  margin-left: 35px;
  list-style: none;
  margin-top: 50px;
  border-radius: 5px;
}
.treeButton {
  background-color: rgba(0 0 0 0);
}
.addButton {
transition: background-color .1s linear;
}
.addButton:hover {
  background-color: rgb(83, 83, 83);
}

.expPanel {
  list-style: none;
}
.rightGreedTile {
margin-top: 100px;
margin-right: 35px;
}
.rightGreedTileItem {
  width: 80%;
}
.itemColor {
  color: rgb(255, 255, 255);
}
.fButton {
  color: rgba(255,255,255, 0.7);
}
