<div mat-dialog-content>
  <p>Fill this form to create your recipe</p>
  <mat-form-field>
    <mat-label class="itemColor2">Recipe name</mat-label>
    <input matInput class="form-control"  [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label class="itemColor2">Recipe</mat-label>
    <textarea matInput class="form-control"  [(ngModel)]="recipe"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</div>
